.App {
  margin: 0 auto;
  margin-top: 4rem;
  width: 500px;
  box-sizing: border-box;
}


.prompt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.score{
  margin-right: 3rem;
}

.turn{
  margin-left: 2rem;
}
.board{
  display:grid;
  background-color: red;
  grid-template-columns: repeat(3, 1fr);
  width:500px;
  height: 500px;
}

.grid{
  border-right: 1rem solid white;
  border-bottom: 1rem solid white;
  cursor:pointer;
  position: relative;
}

.o::before{
  content:'O';
  position: absolute;
  font-size: 4rem;
  align-self: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.x::before{
  content:'X';
  position: absolute;
  font-size: 4rem;
  align-self: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
